.projectDetail{
    margin-left: 150px;
}
.projectDetail__list{
    
}
.project__goal{
    font-size: 25px;
}
.project__myrole{
    font-size: 25px;
}
.project__timeline{
    font-size: 25px;
}
.Gantt{
    position: absolute;
    top: 210px;
    left: 630px;
    width: 1200px;
    height: 600px;
  }