.userDetail {
    display: grid;
    grid-template-rows: repeat(3, 0.7fr);
    justify-content: center;
    align-content: center;
} 

.userDetail__listtitle{

    font-size: 50px;
    margin-top: 50px;
      
} 
.userDetail__displayProject{
    display: flex; 
    flex-direction: row;
}