mixin editGoalBlock(editGoal = {})
    .projectGoalBlock
        h4.projectGoalBlock__title=editGoal.description
        if !editGoal.charge
            h5.projectGoal__charge NOT CHARGE
        h4.projectGoalBlock__charge=editGoal.chargername[0]
        button
            a(href=routes.addMyGoal(editGoal.id)) 
                button ADD TO MY GOAL