mixin marketBlock(market = {})
    .projectBlock 
        a(href=routes.marketDetail(market.id)) 
            .projectBlock__title
                h4=market.title
                h4=market.requiredPeople
                h4=market.description