mixin myGoalBlock(myGoal = {}) 
    .myGoalBlock
        ul.myGoalBlock__container 
            li
                span.myGoalBlock__title 목표내용 <br/>
                    span.myGoalBlock__text=myGoal.description