mixin projectGoalBlock(projectGoal = {})
    .projectGoalBlock
        h4.projectGoalBlock__title=projectGoal.description
        if !projectGoal.charge
            h5.projectGoal__charge NOT CHARGE
        h4.projectGoalBlock__charge=projectGoal.chargername[0]