mixin projectBlock(project = {})
    .projectBlock
        a(href=routes.projectDetail(project.id))
            h4.projectBlock__title=project.title
            h4.projectBlock__title=project.createdAt