mixin projectGoalBlock(projectGoal = {})
    .projectGoalBlock
        h4.projectGoalBlock__title=projectGoal.description
        if !projectGoal.isCharged
            h5.projectGoal__charge NOT CHARGE
        else
            h4.projectGoalBlock__charge=projectGoal.chargername[0]