extends layouts/main.pug

block content
    |Project Manager : To incease efficeincy in team project 
    .home__createProject
        span.header__button
            a(href=routes.project) CREATE PROJECT