extends layouts/main.pug

block content
    .home__main
        .home__container
            span ROAD MAP
            if(loggedUser)
                span.home__hello=`${loggedUser.name}님 환영합니다` 
            .home__createProject
                if(loggedUser)
                    button
                        a(href=routes.project) 프로젝트 만들기