extends layouts/main.pug

block content
    .home__main
        .home__container
            span 대학생활 로드맵 
            .home__createProject
                if(loggedUser)
                    button
                        a(href=routes.project) 프로젝트 만들기