extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="성명")
            input(type="email", name="email", placeholder="이메일")
            input(type="password", name="password", placeholder="비밀번호")
            input(type="password", name="password2", placeholder="비밀번호 확인")
            input(list="major", name="major", placeholder="전공")
            input(type="submit", value="Join Now")
            datalist#major
                option(value="글로벌지역학")
                option(value="EU전공")
                option(value="GlobalBusiness")
                option(value="TESOL영어학전공")
                option(value="광고PR브랜딩전공")
                option(value="교육학")
                option(value="국가리더전공")
                option(value="국제금융학과")
                option(value="국제스포츠레저전공")
                option(value="그리스불가리아학과")
                option(value="남아프리카어전공")
                option(value="독일어통번역학과")
                option(value="동아프리카어전공")
                option(value="동유럽학대학")
                option(value="러시아학과")
                option(value="루마니아어과")
                option(value="말레이인도네시아어통번역학과")
                option(value="문화콘텐츠학전공")
                option(value="바이오메디컬공학전공")
                option(value="방송영상뉴미디어전공")
                option(value="브라질학과")
                option(value="사학과")
                option(value="산업경영공학과")
                option(value="생명공학과")
                option(value="서아프리카어전공")
                option(value="세계문화예술경영전공")
                option(value="세르비아크로아티아어과")
                option(value="수학과")
                option(value="스페인어통번역학과")
                option(value="아랍어통번역학과")
                option(value="아프리카학부")
                option(value="언론정보전공")
                option(value="언어인지과학과")
                option(value="영미권통상통번역전공")
                option(value="영미문학번역전공")
                option(value="영어통번역학부")
                option(value="영어통번역학전공")
                option(value="우크라이나어과")
                option(value="융복합소프트웨어전공")
                option(value="이탈리아어통번역학과")
                option(value="인도학과")
                option(value="일본어통번역학과")
                option(value="전자공학과")
                option(value="전자물리학과")
                option(value="정보기록학전공")
                option(value="정보통신공학과")
                option(value="정치외교학과")
                option(value="중국어통번역학과")
                option(value="중앙아시아학과")
                option(value="지식콘텐츠전공")
                option(value="철학과")
                option(value="체코슬로바키아어과")
                option(value="컴퓨터전자시스템공학전공")
                option(value="태국어통번역학과")
                option(value="통계학과")
                option(value="폴란드어과")
                option(value="프랑스학과")
                option(value="한국학과")
                option(value="행정학과")
                option(value="헝가리어과")
                option(value="화학과")
                option(value="환경학과")

                                