extends layouts/main.pug
include mixins/marketBlock

block content
    .market__list
        each item in allPro
            if item.onMarket
                +marketBlock({
                    id: item.id,
                    title: item.title,
                    createdAt: item.createdAt,
                    onMarket: item.onMarket,
                    requiredPeople: item.requiredPeople
                })
