extends layouts/main.pug
include mixins/projectGoalBlock

block content
    span.project__goal 프로젝트 참여하기
        //- button
        //-     a(href=routes.editGoal(pro.id)) EDIT GOAL
    .projectDetail__list    
        each item in pro.goal
            +projectGoalBlock({
                description: item.description,
                isCharged: item.isCharged,
                charge: item.charge,
                chargername: item.chargername
            })
    .project__myrole
        button
            a(href=routes.reqParticipateProject(pro.id)) 참여 신청