extends layouts/main.pug
include mixins/marketBlock

block content  
    .market__list 
        .market__listtitle
           each item in allPro
                if item.onMarket
                    +marketBlock({
                        id: item.id,
                        title: item.title,
                        onMarketStart: item.onMarketStart, 
                        onMarketDue: item.onMarketDue,
                        requiredPeople: item.requiredPeople
                    }) 