extends layouts/main.pug
include mixins/openProjectBlock


block content
    .userDetail
            .userDetail__listtitle 모집중인 프로젝트
                .userDetail__displayProject
                    each item in projects
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        })
                        
            .userDetail__listtitle 종료된 프로젝트
                .userDetail__displayProject
                    each item in projects
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        }) 
