extends layouts/main.pug
include mixins/marketBlock

block content  
    .market__list 
        .userDetail__listtitle 공고중인 프로젝트
           each item in allPro
                if item.onMarket
                    +marketBlock({
                        id: item.id,
                        title: item.title,
                        onMarketStart: item.onMarketStart,
                        onMarketDue: item.onMarketDue,
                        requiredPeople: item.requiredPeople
                    }) 