extends layouts/main.pug

block content
    | 프로필 내역
    h5=profile.name
    h5=profile.email
    
    a(href=routes.agreeParticipate(profile.id))
        button 참여 수락
    
    //- a(href=routes.denyParticipate(profile.id))
    //-     button 참여 거절