extends layouts/main.pug
include mixins/goalBlock

block content
    .project__goal
        | TEAM GOAL, EDIT GOAL BUTTON
    .project__myrole
        | MY ROLE, EDIT MY ROLE BUTTON
    .project__timeline 
        | TIMELINE
    .project__calender
        | CALENDER