extends layouts/main.pug
include mixins/goalBlock

block content
    .project__goal
        each item in goal
            +goalBlock({
                id: item.id,
                description: item.description
            })
    .project__myrole
        each item in mygoal
            +goalBlock({
                id: item.id,
                description: item.description
            })
    .project__timeline 
        | TIMELINE
    .project__calender
        | CALENDER