extends layouts/main.pug
include mixins/projectGoalBlock

block content
    span.project__goal PROJECT GOAL
        each item in pro.goal
            +projectGoalBlock({
                description: item.description
            })
    .project__myrole
        | MY ROLE, EDIT MY ROLE BUTTON
    .project__timeline 
        | TIMELINE
    .project__calender
        | CALENDER