extends layouts/main.pug
include mixins/projectBlock
include mixins/messageBlock

block content  
    .userDetail
<<<<<<< HEAD
        if user.id === loggedUser.id 
=======
        if userMessages[0].userId === loggedUser.id
>>>>>>> dc129bda36e802b269cf012df37adf1d89f34063
            .userDetail__listtitle 받은 요청 내역
                .userDetail__displayProject
                    each item in userMessages
                        if item != null
                            +messageBlock({
                                id: item.projectId,
                                title: item.title,
                                requestedId: item.requestedId
                            })

            .userDetail__listtitle 진행중인 프로젝트 
                .userDetail__displayProject
                    each item in userMessages.user.currentProject
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        })

            .userDetail__listtitle 종료된 프로젝트
                .userDetail__displayProject
                    each item in userMessages.user.finishedProject
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        }) 