extends layouts/main.pug
include mixins/projectBlock

block content
    if user.id === loggedUser.id
        h3.profile__project PROJECT
            span current project
                each item in user.currentProject
                    +projectBlock({
                        id: item.id,
                        title: item.title,
                        createdAt: item.createdAt
                    })
            span finished project
                each item in user.finishedProject
                    +projectBlock({
                        id: item.id,
                        title: item.title,
                        createdAt: item.createdAt
                    })