extends layouts/main.pug
include mixins/projectBlock

block content
    .userDetail
        if user.id === loggedUser.id
            .userDetail__listtitle 진행중인 프로젝트
                .userDetail__displayProject
                    each item in user.currentProject
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        })
                        
            .userDetail__listtitle 종료된 프로젝트
                .userDetail__displayProject
                    each item in user.finishedProject
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        }) 