extends layouts/main.pug
include mixins/projectBlock
include mixins/messageBlock

block content   
    .userDetail
         if user.id === loggedUser.id
            .userDetail__listtitle 받은 요청 내역 
                .userDetail__displayProject
                    each item in userMessages
                        if item != null
                            +messageBlock({
                                id: item.projectId,
                                name: item.name,
                                title: item.title,
                                requestedId: item.requestedId
                            })

            .userDetail__listtitle 진행중인 프로젝트 
                .userDetail__displayProject
                    each item in userMessages.user.currentProject
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        })

            .userDetail__listtitle 포트폴리오
                .userDetail__displayProject
                    each item in userMessages.user.finishedProject
                        +projectBlock({
                            id: item.id,
                            title: item.title,
                            createdAt: item.createdAt
                        }) 