.projectCurrentGoalBlock{
    display: grid;
    font-size: 22px;
    padding: 0;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5%;
    width: 200px;
}

.projectCurrentGoalBlock__title{
    margin: 5px;
    padding-left: 10px;
}

.projectCurrentGoalBlock__title2{
    
}