.projectBlock { 
  
    .marketBlock__title {
      font-size: 15px;
      font-weight: 300;
      padding-left: 15px;
      text-align: left;
      margin-bottom: 20px;
      width: 500px;
      height:350px;
      margin-top: 10px;
      border: 0.1rem outset black;
      box-shadow: 10px 10px 5px #aaaaaa;
      border-radius: 5px;
    }
  }