.projectBlock {
  
    .projectBlock__title {
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 50px;
      width: 300px;
      height:120px;
      border: 0.1rem outset black;
      box-shadow: 10px 10px 5px #aaaaaa;
    }
  }