.projectBlock {
  
    .projectBlock__title {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 50px;
      width: 300px;
      height:150px;
      border: 0.5rem outset pink;
    }
  }