.projectDetail__list {
    margin-bottom: 25px;
}
.projectGoalBlock {
    margin-bottom: 20px;
    .projectGoalBlock__container{
        
        content: "";
        left: 10px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
        
        padding: 0;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-top: 20px;
        position: relative;
        display: inline-block;
        vertical-align: center;
        height: 100px;
        width: 150px;
        margin: 10px;
        background-color: #3498db;
        list-style: none;
        border-radius: 15px;
    
    .projectGoalBlock__title {
        font-size: 18px;
        padding-bottom: 5px;
    }
    .projectGoalBlock__text {
        font-size: 13px;
        padding-left: 10px;
    }
    } 
}

li{
    padding-bottom: 10px;
}
