.home__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px; }

.home__createProject {
  margin-top: 10px;
  font-size: 30px; }

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

button, .header__button {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #1cbe83;
  background-color: transparent;
  border: 1px solid #4e07d1;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  padding: .3em 1.2em;
  margin: 5px;
  -webkit-background-size: 200% 100%;
     -moz-background-size: 200% 100%;
          background-size: 200% 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #5185e6));
  background-image: -webkit-linear-gradient(left, transparent 50%, #5185e6 50%);
  background-image: -moz-linear-gradient(left, transparent 50%, #5185e6 50%);
  background-image: -o-linear-gradient(left, transparent 50%, #5185e6 50%);
  background-image: linear-gradient(to right, transparent 50%, #5185e6 50%);
  -webkit-transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease;
  -o-transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease;
  -moz-transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease;
  transition: background-position 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.1s, color 0.5s ease 0s, background-color 0.5s ease; }

button, .header__button:hover {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: #1cbe83;
  background-position: -100% 100%; }

input[type="submit"] {
  cursor: pointer; }

.userDetail__listtitle {
  font-size: 50px; }

.userDetail__displayProject {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

header {
  background-color: #333;
  width: 100%;
  height: 65px; }

.header__content {
  display: none; }

.header__menu-links {
  float: right;
  padding-right: 20px; }

.header__toggle-menu {
  float: right; }

.header__toggle-menu li {
  display: block;
  float: left;
  list-style-type: none;
  text-align: left; }

.header__toggle {
  padding-top: 5px;
  cursor: pointer; }

li.header__toggle:hover span.header__toggle-menu-bar {
  background-color: #ddd; }

.header__toggle-menu-bar {
  display: block;
  width: 25px;
  height: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto 3px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }

.header__anchor {
  font-size: 25px;
  text-decoration: none;
  color: #e58139;
  padding-right: 20px;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s; }

a:hover {
  color: #ddd; }

.form-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      display: block;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form textarea {
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 25px; }
    .form-container form input[type="submit"] {
      background-color: #3498db;
      color: white; }
  .form-container a {
    max-width: 320px;
    width: 100%; }
  .form-container .fileUpload label {
    font-weight: 300;
    margin-right: 10px; }

.projectBlock .projectBlock__title {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  width: 200px;
  height: 80px;
  margin-top: 10px;
  border: 0.1rem outset black;
  -webkit-box-shadow: 10px 10px 5px #aaaaaa;
     -moz-box-shadow: 10px 10px 5px #aaaaaa;
          box-shadow: 10px 10px 5px #aaaaaa;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

.projectDetail__list {
  display: grid; }

.project__goal {
  font-size: 25px; }

.project__myrole {
  font-size: 25px; }

.project__timeline {
  font-size: 25px; }

.projectDetail__list {
  margin-bottom: 25px; }

.projectGoalBlock {
  margin-bottom: 20px; }
  .projectGoalBlock .projectGoalBlock__container {
    z-index: -1;
    content: "";
    left: 10px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    padding: 0;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-top: 20px;
    position: relative;
    display: inline-block;
    vertical-align: center;
    height: 270px;
    width: 400px;
    margin: 10px;
    background-color: #A8E0FF;
    list-style: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px; }
    .projectGoalBlock .projectGoalBlock__container .projectGoalBlock__title {
      font-size: 18px;
      padding-bottom: 5px; }
    .projectGoalBlock .projectGoalBlock__container .projectGoalBlock__text {
      font-size: 13px;
      padding-left: 10px; }

li {
  padding-bottom: 10px; }

.projectDetail__list {
  margin-bottom: 25px; }

.myGoalBlock {
  margin-bottom: 20px; }
  .myGoalBlock .myGoalBlock__container {
    z-index: -1;
    content: "";
    left: 10px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    padding: 0;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-top: 20px;
    position: relative;
    display: inline-block;
    vertical-align: center;
    height: 220px;
    width: 400px;
    margin: 10px;
    background-color: #8EE3F5;
    list-style: none;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px; }
    .myGoalBlock .myGoalBlock__container .myGoalBlock__title {
      font-size: 18px;
      padding-bottom: 5px; }
    .myGoalBlock .myGoalBlock__container .myGoalBlock__text {
      font-size: 13px;
      padding-left: 10px; }

li {
  padding-bottom: 10px; }
