doctype html
html
    head
        title #{pageTitle}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header
    main
        block content
    script(src="/static/main.js")

